@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';

:root {
  --fd-primary: 153 60% 53%;
  --fd-primary-foreground: 0 0% 100%;
}

.dark {
  --fd-primary: 153 55% 60%;
  --fd-primary-foreground: 0 0% 100%;
}
